body {
  background-color: #EFECE7;
  color: #000400;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}